$dark-font:rgb(31, 31, 31);
$light-font:white;
$muted-font:#7d8da1;

$dark-bgc:rgb(31, 31, 31);
$light-bgc: rgb(239, 236, 236);
$white-bgc:white;
$grey-bgc:grey;


$color-primary: #006e7f;
$color-danger: #ff7782;
$color-success: #41f1b6;
$color-warning: #ffbb55