@use "../utilities/colors";
@use "../utilities/mixins";
@use "../utilities/variables";

.admin__sidebar{
    position: fixed;
}
.admin__main{
    position: absolute;
    left: 13rem;
    top: 1rem;
    right: 0;
    margin-bottom: 5rem;
    padding: 1em;
    text-align: center;
}