@use "../utilities/colors";
@use "../utilities/mixins";
@use "../utilities/variables";

.admin-right {
    @include mixins.medium-devices {
        display: none;
    }
}

.admin-container {
    text-align: center;
    gap: 0;
    @include mixins.medium-devices {
        grid-template-columns: 7rem auto;
    }

    @include mixins.xxl-devices {
        grid-template-columns: 14rem auto;
    }
}

.admin-main {
 margin-right: 1em;
    @include mixins.small-devices {
        padding: 2em 5em;
        margin-bottom: 2em;
    }
}
