

.footer{
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(16, 8, 59);
    padding: 1em;
  
    & p, a{
        color: white;
    }
    & img{
        margin-left: 1em;
    }
}