@use "../utilities/colors";
@use "../utilities/mixins";
@use "../utilities/variables";

.navbar {
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    @include mixins.small-devices {
       padding: 0 2em;
    };
    &__logo {
        & a {
            font-size: 1.5rem;
            font-weight: bold;
            color: colors.$dark-font;
        }
    }
    &__links,
    &__actions {
        display: none;
        @include mixins.large-devices {
            display: flex;
            gap: 2rem;
        }
    }
    &__actions {
        & i {
            font-size: 1.6rem;
            gap: 2rem;
            cursor: pointer;
        }
    }
    &__hamburger {
        display: inline-block;
        padding: 0;

        @include mixins.large-devices {
            display: none;
        }
    }
    &__dropdown-menu {
        position: absolute;
        left: 2rem;
        right: 2rem;
        width: unset;
        // width: 300px;
        top: 60px;
        height: 0;
        // background-color: rgba(255,255,255,.7);
        background-color: colors.$light-bgc;
        backdrop-filter: blur(15px);
        border-radius: variables.$border-radius;
        overflow: hidden;
        transition: height 5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        z-index: 10000;

        @include mixins.small-devices {
            left: auto;
            right: 2rem;
            width: 300px;
        }
        @include mixins.large-devices {
            display: none;
        }
        &__actions {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: colors.$color-primary;
        }
        & li {
            padding: 0.7rem;
            display: flex;
            justify-content: center;
            align-items: center;
            & i{
                color: white;
                font-size: 1.5rem;
            }
        }
        &.open {
            height: auto;
        }
    }
}
