@use "../../utilities/colors";
@use "../../utilities/mixins";
@use "../../utilities/variables";

.asside {
    position: fixed;
    transition: 0.6s ease;
    left: -100%;
    background-color: colors.$white-bgc;
    width: 18rem;
    z-index: 3;
    box-shadow: 1rem 3rem 4rem colors.$light-muted-font;
    height: 100vh;
    padding-right: 2em;
    display: none;
    animation: showSidebar 400ms ease forwards;
    top: 0;
    bottom: 0;
    @include mixins.medium-devices {
        position: sticky;
        left: 0;
        width: auto;
        padding-right: 0;
        display: inline-block;
    }
    &.open{
        display: inline-block;
    }
    &__top {
        background-color: colors.$white-bgc;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 1.4rem;
        &-logo {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1em;
            & h2 {
                display: inline-block;
                @include mixins.medium-devices {
                    display: none;
                }
                @include mixins.xxl-devices {
                    display: inline-block;
                }
            }
            & img{
                width: 50px;
                // @include mixins.medium-devices {
                //     display: none;
                // }
            }
        }
        &-hamburger {
            & .sidebar__hamburger {
                display: none;
            }
        }
        &-closeBtn{
            border: none;
            background: none;
            font-size: 3rem;
            cursor: pointer;
            @include mixins.medium-devices {
                display: none;
            }
        }
    }

    & .sidebar {
        width: auto;
        background-color: colors.$white-bgc;
        display: flex;
        flex-direction: column;
        height: 86vh;
        position: relative;
        top: 3em;
        
        @include mixins.medium-devices {
            width: 5.6rem;
        }
        
        @include mixins.xxl-devices {
            width: auto;
        }
        &__item {
            display: flex;
            margin-left: 2rem;
            gap: 1rem;
            align-items: center;
            position: relative;
            height: 3.4rem;
            transition: all 0.6s ease;
            @include mixins.medium-devices {
                height: 3.7rem;
            }

            & i {
                transition: all 0.6s ease;
                font-size: 1.6rem;
            }
            & h3 {
                display: inline-block;
                font-weight: 500;
                @include mixins.medium-devices {
                    display: none;
                }
                @include mixins.xxl-devices {
                    display: inline-block;
                    font-weight: 500;
                }
            }
            &:hover {
                & i {
                    margin-left: 1rem;
                }
            }
            &:last-child {
                position: absolute;
                bottom: 2rem;
                width: 100%;
            }
        }
        &__item.active {
            background-color: colors.$color-primary;

            margin-left: 0;

            &::before {
                content: "";
                width: 6px;
                height: 100%;
                background-color: colors.$dark-bgc;
            }
            & i {
                color: colors.$light-font;
                margin-left: calc(1rem - 3px);
            }
            & h3 {
                font-weight: bold;
                color: colors.$light-font;
            }
        }
    }
}

@keyframes showSidebar {
    to {
        left: 0;
    }
}



